@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: dodgerblue;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 100vh;
  border: 2px solid black;
  color: azure;
}
.container .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
.container .head .city {
  font-size: 3rem;
  align-items: center;
}
.container .head .temperatures {
  font-size: 7rem;
  font-weight: bold;
}
.container .head .clouds {
  font-size: 1.5rem;
}
.container .head i {
  font-size: 5rem;
}

.container .secdata {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
}

.container .secdata .minmaxtemp {
  padding: 30px;
}

.container .secdata .humpress {
  padding: 30px;
  text-align: end;
}
.container .secdata span {
  font-size: 2rem;
}

.container .thirddata {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
}
.container .thirddata .sunmove {
  padding: 30px;
}

.container .thirddata .moon {
  padding: 30px;
}

